@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*Basic styles*/ 

body {
  background: white;
  color: black;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust:100%;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: space-evenly;
}

#loader {
  border: 12px solid #45087B;
  border-radius: 50%;
  border-top: 12px solid #6DF418;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

#none {
  display: none;
  font-size: 0;
}

/* header */

.header {
  width: 100%;
}

.header header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 5px 0 10px 0;
}

.header header logo {
  color: #541868;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

.header header img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.header span {
  color: orange;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
  padding-left: calc(50% - 87px);
  text-align: center;
}

/* profile */

.login {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  text-align: center;
  background: darkorange;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 70px;
  width: 80px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.login:hover {
  color: #1AFF26;
  background: red;
}

.profile {
  width: calc(100% - 30px);
  max-width: 300px;
  padding: 15px 15px 0 15px;
  margin: 0 auto;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 30px);
  height: auto;
  padding: 12px;
  border-radius: 7px;
  background: #252B7E;
  box-shadow: 0 0 10px #000000AB;
}

.user img {
  margin-right: 12px;
  margin-top: -10px;
}

.user .det {
  width: calc(100% - 70px);
  margin-top: -7px;
}

.user p {
  color: white;
  font-family: 'Poppins', san-serif;
  font-size: 13px;
}

.user span {
  color: #85F514;
}

.user i {
  color: orange;
}

/* form */

form {
  width: calc(100% - 30px);
  max-width: 800px;
  padding: 0 15px 5px 15px;
  margin: 0 auto;
}

form #name,
form #description {
  width: calc(100% - 12px);
  height: 40px;
  padding-left: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #270E55;
  background: white;
  color: black;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
}

form #description {
  height: 100px;
}

form #image {
  font-size: 0;
}

form #image::-webkit-file-upload-button {
  font-size: 14px;
  text-align: center;
  background: #38135B;
  color: #5BE817;
  font-family: 'Poppins', sans-serif;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
} 
  
form #image::-webkit-file-upload-button:hover {
  color: white;
  background: red;
}

form img {
  width: 70%;
  height: auto;
  border-radius: 6px;
  border: 2px solid #270E55;
}

form #load {
  color: #441779;
  font-size: 20px;
}

form button {
  font-size: 14px;
  text-align: center;
  background: red;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 40px;
  width: 160px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: 30px 0 20px 0;
}

form button:hover {
  color: #1AFF26;
  background: #4C1F6B;
}

/* footer */

footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

footer p {
  color: #501D7E;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
}

@media(min-width: 800px) {
  
  form img {
    width: 50%;
  }
  
}
